td.sudoku-element {
    border: solid darkblue thin;
    color: black;
    height: 5vh;
    width: 5vh;
    padding: 0px 3%;
}

td:nth-child(3n+1) {
    border-right: solid darkblue medium;
}

tr:nth-child(1) {
    td.sudoku-element {
        border-top: solid darkblue medium;
    }
}

tr:nth-child(3n) {
    td.sudoku-element {
        border-bottom: solid darkblue medium;
    }
}

p {
    font-size: 100%;
    display: inline-block;
}

table {
    margin-top: 5vh;
    width: 100%;
    margin-bottom: 5vh;
}